/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Korataki";
  src: url("./resources/fonts/korataki.otf") format("opentype");
}

/* @media only screen and (max-width: 1920px) {
  .search-cards {
    width: 1920px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
} */

@media only screen and (max-width: 1600px) {
  body {
    width: 1600px;
  }

  .nav-info {
    width: 100%;
    height: 40px;
    background: #231815;
    position: relative;
  }

  .nav-info a {
    text-decoration: none;
    font: 400 16px/16px Lato;
    text-align: left;
    color: #FFFFFF;
  }

  .nav-info a:nth-child(1) {
    width: 138px;
    position: absolute;
    top: 12px;
    left: 980px;
  }

  .nav-info a:nth-child(2) {
    width: 140px;
    position: absolute;
    top: 12px;
    left: 1188px;
  }

  .nav-info a:nth-child(3) {
    width: 22px;
    position: absolute;
    top: 10px;
    left: 1398px;
  }

  .menu-button {
    display: none;
  }

  .nav {
    position: absolute;
    top: 40px;
    height: 80px;
  }

  .nav-logo {
    position: absolute;
    top: 12px;
    left: 180px;
  }

  .nav-links {
    width: 479px;
    height: 16px;
    position: absolute;
    top: 31px;
    left: 560.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links a {
    text-decoration: none;
    font: 600 16px/16px Lato;
    color: #231815;
  }

  .search {
    display: none;
  }
  
  .search-active {
    content: url('./resources/images/search-active.png');
  }

  .nav-buttons {
    position: absolute;
    top: 21px;
    left: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }

  

  /* .search-cards {
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  } */
}

@media only screen and (max-width: 768px) {
  body {
    width: 768px;
  }
  
  .nav-info,
  .nav a {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
  }

  .nav-logo {
    margin-left: 44px;
    width: 141.32px;
  }

  main {
    width: 680px;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    gap: 40px;
  }

  h2 {
    font: 400 32px/44.8px Korataki;
    text-align: left;
    position: relative;
    width: 680px;
  }

  .menu-button {
    display: inline-block;
    margin-right: 44px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .search-cards {
    width: 680px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
  }

  .card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .card p {
    margin-top: 10px;
    font: 700 18px/25.2px Lato;
    text-align: left;
  }

  .price {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .price span {
    font: 700 22px/30.8px Lato;
    text-align: left;
  }
  
  .price-red {
    font: 700 22px/30.8px Lato;
    text-align: left;
    color: #E45302;
  }

  .price-discount {
    font: 700 22px/30.8px Lato;
    text-align: left;
    text-decoration: line-through;
    color: #808080;
  }

  .card img {
    max-width: 100%;
  }

  .footer {
    background: #231815;
    color: #fff;
    font-family: 'Lato', sans-serif;
    height: 521px;
  }
  
  .footer-container {
    position: relative;
    margin: 0 auto;
  }
  
  .footer-logo {
    position: absolute;
    top: 50px;
    left: 44px;
    width: 180px;
  }
  
  .footer-adress,
  .footer-contacts,
  .footer-services,
  .footer-policy {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  .footer-adress {
    position: absolute;
    top: 130px;
    left: 45px;
    width: 210px;
  }

  .footer-contacts {
    width: 246px;
    position: absolute;
    top: 130px;
    left: 295px;
  }

  .footer-services {
    width: 140px;
    gap: 20px;
    position: absolute;
    top: 130px;
    left: 583px;
  }

  .footer-policy {
    width: 242px;
    position: absolute;
    top: 262px;
    left: 44px;
  }

  .footer-icons {
    display: flex;
    justify-content: space-between;
    width: 214.76px;
    height: 31px;
    position: absolute;
    top: 424px;
    left: 44px;
  }

  .footer-privacy {
    width: 382px;
    font-size: 12px;
    color: #ccc;
    position: absolute;
    top: 408px;
    left: 342px;
  }

  .footer-text-container {
    display: flex;
    flex-flow: column;
    gap: 25px;
  }

  .footer-title {
    font: 700 18px/18px Lato;
    text-align: left;
  }
  
  .footer-text {
    font: 400 16px/24px Lato;
    text-align: left;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    font: 400 16px/24px Lato;
    text-align: left;
  }

  .footer-text-container .footer-text,
  .footer-text-container span {
    color: #fff;
    text-decoration: none;
    font: 400 16px/16px Lato;
    text-align: left;
  }
  
  .footer-list-services {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 20px;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }

  .footer-list-policy {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .footer-list-policy .footer-link {
    font: 400 16px/22.4px Lato;
    text-align: left;
    color: #808080;
  }
  
  .footer-payment {
    display: flex;
    align-items: center;
  }
  
  .footer-payment:nth-child(1) {
    width: 46px;
  }
  
  .footer-payment:nth-child(2) {
    width: 45px;
  }
  
  .footer-payment:nth-child(3) {
    width: 48.33px;
  }
  
  .payment-icon {
    max-width: 100%;
  }

  .footer-privacy p,
  .footer-privacy .footer-link {
    font: 400 16px/20.8px Roboto;
    text-align: left;
    text-decoration: underline solid;
    color: #808080;
  }
}

@media only screen and (max-width: 390px) {
  body {
    width: 390px;
  }

  .nav-info,
  .nav a {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
  }

  .nav-logo {
    margin-left: 35px;
    width: 141.32px;
  }

  main {
    width: 320px;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    gap: 30px;
  }

  h2 {
    font: 400 24px/33.6px Korataki;
    text-align: left;
  }

  .menu-button {
    display: inline-block;
    margin-right: 35px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .search-cards {
    width: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    gap: 10px;
  }

  .card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .card p {
    margin-top: 10px;
    font: 500 16px/22.4px Lato;
    text-align: left;
  }

  .price {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .price span {
    font: 700 16px/22.4px Lato;
    text-align: left;
  }
  .price-red {
    font: 700 16px/22.4px Lato;
    text-align: left;
    color: #E45302;
  }

  .price-discount {
    font: 600 16px/19.6px Lato;
    text-align: left;
    text-decoration: line-through;
    color: #808080;
  }

  .card img {
    max-width: 100%;
  }

  .footer {
    height: 867px;
    background: #231815;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Lato', sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .footer-logo {
    width: 180px;
    position: static;
  }
  
  .footer-adress,
  .footer-contacts,
  .footer-services,
  .footer-policy {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }

  .footer-adress {
    width: 245px;
    position: static;
  }

  .footer-contacts {
    width: 246px;
    position: static;
  }

  .footer-services {
    width: 140px;
    gap: 20px;
    position: static;
  }

  .footer-policy {
    width: 242px;
    position: static;
  }

  .footer-icons {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 214.76px;
    height: 31px;
    gap: 10px;
    margin-top: 40px;
  }

  .footer-privacy {
    position: static;
    width: 321px;
    font-size: 12px;
    color: #ccc;
  }

  .footer-text-container {
    display: flex;
    flex-flow: column;
    gap: 25px;
  }

  .footer-title {
    font: 700 18px/18px Lato;
    text-align: left;
  }
  
  .footer-text {
    font: 400 16px/24px Lato;
    text-align: left;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    font: 400 16px/24px Lato;
    text-align: left;
  }

  .footer-text-container .footer-text,
  .footer-text-container span {
    color: #fff;
    text-decoration: none;
    font: 400 16px/16px Lato;
    text-align: left;
  }
  
  .footer-list-services {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 20px;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }

  .footer-list-policy {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .footer-list-policy .footer-link {
    font: 400 16px/22.4px Lato;
    text-align: left;
    color: #808080;
  }
  
  .footer-payment {
    display: flex;
    align-items: center;
  }
  
  .footer-payment:nth-child(1) {
    width: 46px;
  }
  
  .footer-payment:nth-child(2) {
    width: 45px;
  }
  
  .footer-payment:nth-child(3) {
    width: 48.33px;
  }
  
  .payment-icon {
    max-width: 100%;
  }

  .footer-privacy p,
  .footer-privacy .footer-link {
    font: 400 16px/20.8px Roboto;
    text-align: left;
    text-decoration: underline solid;
    color: #808080;
  }
}